# mkdocs.yml
site_name: "Tanjun docs"
theme:
  name: material
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: cyan
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - markdown_include.include
  - toc:
      permalink: "#"

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            docstring_style: numpy
            inherited_members: true
          rendering:
            docstring_section_style: spacy
            merge_init_into_class: false
            show_signature_annotations: false
            show_source: false
            show_submodules: false
            separate_signature: false
          import:
            - https://docs.python.org/3.9/objects.inv
            - https://hikari-py.github.io/hikari/objects.inv
            - https://alluka.cursed.solutions/objects.inv
            - https://sake.cursed.solutions/objects.inv
      watch:
        - tanjun
