name: Check dependencies

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 12 * * 6"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Check dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install git+https://github.com/hikari-py/hikari.git .[nox]
        python -m nox -s check-dependencies
