name: Deploy PR preview docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy-docs-preview:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch merge branch
        uses: actions/checkout@cd7d8d697e10461458bc61a30d094dc601a8b017
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          submodules: "true"

      - name: Set up Python 3.9
        if: github.event.action != 'closed'
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.9"

      - name: install prerequisites
        if: github.event.action != 'closed'
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install -r ./piped/python/base-requirements/nox.txt

      - name: Build docs
        if: github.event.action != 'closed'
        run: |
          mkdir site
          python -m nox -s generate-docs -- -o ./site

      - name: Deploy preview
        uses: FasterSpeeding/pr-preview-action@task/override-committer
        with:
          git-config-email: "120557446+always-on-duty[bot]@users.noreply.github.com"
          git-config-name: "always-on-duty[bot]"
          preview-branch: docs
          source-dir: ./site/
