name: Update licence

on:
  schedule:
    - cron: "0 7 1 1 *"
  workflow_dispatch:

jobs:
  update-licence:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          submodules: "true"

      - name: Set up Python 3.9
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.9"

      - name: install prerequisites
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install -r ./piped/python/base-requirements/nox.txt

      - name: Update licence
        run: python -m nox -s update-licence

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e
        with:
          author: "always-on-duty[bot] <120557446+always-on-duty[bot]@users.noreply.github.com>"
          branch: task/update-licence
          commit-message: Update licence
          committer: "always-on-duty[bot] <120557446+always-on-duty[bot]@users.noreply.github.com>"
          title: Update licence
          token: ${{ secrets.ACTIONS_TOKEN || secrets.GITHUB_TOKEN }}
