name: Upgrade dependency locks

on:
  schedule:
    - cron: "0 12 1 * *"
  workflow_dispatch:

jobs:
  upgrade-deps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@cd7d8d697e10461458bc61a30d094dc601a8b017
        with:
          submodules: "true"

      - name: Set up Python 3.9
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: "3.9"

      - name: install prerequisites
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install -r ./piped/python/base-requirements/nox.txt

      - name: Upgrade dependency locks
        run: python -m nox -s freeze-locks

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@9153d834b60caba6d51c9b9510b087acf9f33f83
        with:
          author: "always-on-duty[bot] <120557446+always-on-duty[bot]@users.noreply.github.com>"
          branch: task/upgrade-deps
          commit-message: Upgrade dependency locks
          committer: "always-on-duty[bot] <120557446+always-on-duty[bot]@users.noreply.github.com>"
          title: Upgrade dependency locks
          token: ${{ secrets.ACTIONS_TOKEN || secrets.GITHUB_TOKEN }}
